/* twitter */
#page-container .dashboard .wtf-module,
#page-container .dashboard .trends,
#page-container .dashboard .site-footer {
	display: none !important;
}

/* houzzz */
#navContainer #navHeader, #navContainer .signUpPromoContainer {
	display: none !important;
}

/* Feedly */
#feedlyFrame .topWikiWidget,
#feedlyFrame .bottomWikiWidget,
#feedlyFrame .nbrRecommendations,
#feedlyFrame .websiteCallForAction {
	display: none;
}

/* tumblr */
#tumblr_controls, #iframe_controls {
  display: none !important;
}

/* stackoverflow */
.everyonelovesstackoverflow, #hireme {
  display: none !important;
}
