/* twitter */
#page-container .dashboard .wtf-module,
#page-container .dashboard .trends,
#page-container .dashboard .site-footer {
	display: none !important;
}

/* houzzz */
#navContainer #navHeader, #navContainer .signUpPromoContainer {
	display: none !important;
}

/* Feedly */
#feedlyFrame .topWikiWidget,
#feedlyFrame .bottomWikiWidget,
#feedlyFrame .nbrRecommendations {
	display: none;
}

/* tumblr */
#tumblr_controls {
  display: none !important;
}

/* stackoverflow */
.everyonelovesstackoverflow {
  display: none !important;
}
